@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    padding: 0;
}

/* NAVBAR CSS */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 20px;
    overflow: hidden;
    text-align: right;
    background-color: #111;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    font-size: 12pt;   
}

.nav .icon {
  display: none;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.nav li a:hover {
  background-color: #333;
}

.nav .logo {
    color: white;
    float: left;
    margin-top: -8px;
    margin-bottom: -8px;
}

.nav .logo a:hover {
    background-color: inherit;
}

.nav .active {
    background-color: #333;
}

@media screen and (max-width: 750px) {
    .nav li:not(:first-child) {display: none;}
    .nav li:last-child {
        display: inline-block;
    }
    .nav .icon {
        display: block;
    }
    .nav .active {
        background-color: inherit;
        text-decoration-line: underline;
        
    }

}

@media screen and (max-width: 750px) {
    .nav .responsive {
        position: relative;
        text-align: left;
    }

    .nav.responsive li {
        float: none;
        display: block;
    }

    .nav.responsive a.icon {
        position: absolute;
        right: 20px;
        top: 0;
    }

    .nav.responsive .logo {
        position: absolute;
        align-items: left;
        top: 0;
        display: block;
    }

    .nav li a:hover {
        background-color: inherit;
        text-decoration: underline;
        text-decoration-color:white;
    }
}

/* HOME CSS */
.banner {
    margin-top: 55px;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: -5px;
}

.banner_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.banner_pic {
    height: auto;
    width: 100%;
}

.name {
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7.5vw;
    font-family: 'Archivo', sans-serif;
    font-weight: bolder;
    text-shadow: -1px 2px 8px gray;
    white-space: nowrap;
}

@media only screen and (max-width: 950px) {
    .name {
        white-space: normal;
        font-size: 9vw;
    }
}

@media only screen and (max-width: 450px) {
    .name {
        white-space: normal;
        font-size: 9vw;
    }
}



.banner:hover > .banner_pic {
    opacity: 0.2;
}


.banner:hover > .banner_overlay > .name {
    color: #111;
    text-shadow: none;
    
}

.btn {
  border: 2px solid #111;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  
}

a .btn{
    text-decoration: none;
    color: black;
}

.btn:hover {
    background: #111;
    color: white;
}


p {
    font-size:15pt;
}

* {
  box-sizing: border-box;
}

.row {
    width: 100%;
    /*margin-top: -20px;*/
}

.column {
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #111;
    display: table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    
}
.column_1 {
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #F1F1F1;
    color: #111;
    display: table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.column p {
    text-align: left;
}

@media only screen and (max-width: 750px) {
    .row {
        width: 100%;
    }   
    .column { 
        display: block;
        width: 100%;
        box-shadow: 0;
    }
    .column_1 {
        display: block;
        width: 100%;
        box-shadow: 0;

    }
}

/* RESUME CSS */
.resume {
    padding-bottom: 10px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.resume_title {
    width: auto;
    color:#333;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45pt;
    text-align: center;
    margin-top: 60px;
}

@media only screen and (max-width: 550px) {
    .resume_title {
        font-size: 10vw;
    }
}

.resume_title:hover {
    text-decoration: underline;
}

#pdf {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 750px) {
    #pdf { 
        height: 54vh;
    }
}


/* FOOTER CSS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer {
    background-color: #111;
    color: white;
    height: 150px;
    width: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.alignfooter {
    padding-top: 40px;
    padding-bottom: auto;

}

.social-icon {
    color: #fff;
}

.social-icons {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    text-align: center;
    list-style: none;
    text-decoration:none;  
    margin-left: -40px;

}
.social-icons li {
    display: inline-block;
}

#follow {
    padding-right: 10px; 
}
#footer_text {
    padding-top:25px;
    font-size: 10pt;
    color: rgb(88, 88, 88);
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #333;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #333;
}
.fa-instagram:hover {
    background-color: #c13584;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #333;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

/* BIO CSS  */

.bio_title {
    width: 100%;
    color:#333;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45pt;
    text-align: center;
    margin-top: 60px;
}

@media only screen and (max-width: 550px) {
    .bio_title {
        font-size: 10vw;
    }
}

.bio_title:hover {
    text-decoration: underline;
}

.b_column1 {
    width: 70%;
    padding: 20px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #111;
    display: table-cell;
}
.b_column2 {
    width: 30%;
    padding: 20px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    background-color: #F1F1F1;
    color: #111;
    display: table-cell;
}

.b_column p {
    text-align: left;
}

#meImage {
    min-width: 200px;
    max-width: 275px;
    height: auto;
    border-radius: 20%;
}

.name2 {
    font-size: 20pt;
}

.bio {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12pt;
    margin-top: -16px;
    margin-bottom: 35px;
}

@media only screen and (max-width: 1100px) {
    .name2 {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 750px) {
    .b_column1 { 
        display: block;
        margin-top: 20px;
        width: 100%;
        font-size: 10pt;
    }
    .b_column2 { 
        padding-top: 40px;
        display: block;
        width: 100%;
        text-align: center;
    } 
    #meImage {
        width: 45%;
        border-radius: 20%;
    }
}

#spurs {
    width: 100px;
     height: auto;
    float: right;
    margin-right: 10px;
    margin-left: 5%;
}

@media only screen and (max-width: 950px) {
    .name1 {
        white-space: normal;
        font-size: 65pt;
        width:100%;
    }
    p {
        font-size: 12pt;
    }
    h2 {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 550px) {
    .name1 {
        white-space: normal;
        font-size: 50pt;
        width:100%;
    }
    .banner_pic1 {
    height: auto;
    width: 100%;
    }
    .bio {
        font-size: 12pt;
    }

}


.banner1:hover > .banner_pic1 {
    opacity: 0;
}

.banner1:hover > .banner_overlay1 > .name1 {
    color:black;
    text-shadow: none;
    opacity: 1;
}

/* PROJECT CSS */

.proj_back {
    background-color: white;
}
.proj_title {
    width: 100%;
    background-color: #111;
    color:white;
    letter-spacing: 1px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45pt;
    text-align: center;
    margin-top: 58px;
}

.proj_title:hover {
    text-decoration: underline;
}

.p_column {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    width: 98%;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #DFDFDF;
    color: #111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 550px;) {
    .proj_title {
        font-size: 10vw;
    }
}

.p_column p {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.video_container {
    position: relative;
    margin: auto;
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projP {
    font-size: 12pt;
}

.pic {
    width: 500px;
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.pic1 {
    width: 500px;
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mySlides2 {
    margin-left: auto;
    margin-right: auto;
}

